form input, textarea{
    width:300px;
    display: block;
    margin: 3px;
    padding: 3px;
    border: 1px #444 solid;
    border-radius: 10px;
}

textarea {
    display: block;
    margin : 0 auto;
  }
  .centerButton {
    text-align: center;
  }

.form__container {
  background-image: url("../../Components/photos/watercolorArtGallery.png");
  background-size: cover;
}  
