@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jost&display=swap');

body {
  background-image: linear-gradient(#ff7e61 33.3%, #76d7ea 33.3%, #76d7ea 66.6%, #ff7e61 66.6%);
}

div {
  width: auto;
  height: auto;
}

#box {
  display: grid;
  width: 500px;
  height: 500px;
  outline: 10px dashed #76d7ea;
  grid-template: repeat(25, 1fr) / repeat(25, 1fr);
  margin: auto;
}

h1, .colors, .reset, .art-instructions, .save-instructions {
  text-align: center;
}

button, .art-instructions, .save-instructions {
  font-family: 'jost', sans-serif;
}

h1 {
  font-family: 'caveat', cursive;
  font-size: 60px;
  text-shadow: 2px 2px #76d7ea;
  margin: 0;
}

h3 {
  font-size: 30px;
  text-shadow: 2px 2px #76d7ea;
}

.art-instructions, .save-instructions {
  font-size: 20px;
  max-width: 800px;
}

.art-instructions {
  float: left;
}

.save-instructions {
  float: right;
}

button {
  border: none;
  background-color: transparent;
  text-shadow: 1px 1px #000;
  font-size: 50px;
  margin: 10px;
  transition: .5s;
}

button:hover {
  cursor: pointer;
  font-size: 55px;
}

.reset {
  margin-top: 10px;
}

#reset {
  border: 5px dashed #76d7ea;
  background-color: transparent;
  font-size: 25px;
  transform: .5s;
}

#reset:hover {
  background-color: #fff;
}

#red {
  color: red;
}

#orange {
  color: orange;
}

#yellow {
  color: yellow;
}

#green {
  color: green;
}

#blue {
  color: blue;
}

#purple {
  color: purple;
}

#black {
  color: black;
}

#white {
  color: white;
}

#brown {
  color: brown;
}

#gray {
  color: gray;
}