@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jost&display=swap');

body {
  background-image: linear-gradient(#ff7e61 33.3%, #76d7ea 33.3%, #76d7ea 66.6%, #ff7e61 66.6%);
}

div {
  width: auto;
  height: auto;
}

#box {
  display: grid;
  width: 500px;
  height: 500px;
  border: 10px ridge #76d7ea;
  grid-template: repeat(25, 1fr) / repeat(25, 1fr);
  margin: auto;
}

h1, .colors, .reset, .instructions {
  text-align: center;
}

button, .instructions {
  font-family: 'jost', sans-serif;
}

h1 {
  font-family: 'caveat', cursive;
  font-size: 48px;
}