div {
  width: auto;
  height: auto;
}

#box {
  display: grid;
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  grid-template: repeat(25, 1fr) / repeat(25, 1fr);
  margin: auto;
}

h1, .colors {
  text-align: center;
}