@font-face {
    font-family: stars;
    src: url("../../Components/fonts/StarcruiserExpandedItalic-LgGg.ttf");
}

.nasaFont{
    font-family: stars;
}

p {
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    max-width: 90%;
    max-height: 6.6in;
    row-gap: 10px;
    background-color: #3b3c49;
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;
}

