@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Jost&display=swap');

.stick {
  position: sticky;
  top: 0;
  margin-top: -10px;
}

.header {
  background-color: #fff;
  background-image: radial-gradient(ellipse at top, #f1f1f1, transparent);
}

h1 {
  font-family: 'Cormorant SC', serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px #aaa;
  padding-top: 0;
  margin-top: 0;

  .bigger {
    font-family: 'Cormorant SC', serif;
    font-size: 70px;
  }
}

.navList {
  margin:20px;
  text-align: center;
}

li {
  display: inline;
  padding: 5px;

  img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
    padding-top: 10px;
  }

  button {
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    text-shadow: 1px 1px #fff;
    padding-bottom: 10px;
    border: none;
    background-color: transparent;
    transition: .5s;
  }

  button:hover {
    font-size: 30px;
    text-shadow: none;
    cursor: pointer;
  }
}

ul li:nth-child(1) {
  background-image: linear-gradient(transparent 33.3%, #76d7ea 33.3%, #76d7ea 66.6%, transparent 66.6%);

  button:hover {
    background-color: #76d7ea;
  }
}

ul li:nth-child(2) {
  background-image: linear-gradient(transparent 33.3%, #a0cad2 33.3%, #a0cad2 66.6%,transparent 66.6%);

  button:hover {
    background-color: #a0cad2;
  }
}

ul li:nth-child(3) {
  background-image: linear-gradient(transparent 33.3%, #bdbcbb 33.3%, #bdbcbb 66.6%, transparent 66.6%);

  button:hover {
    background-color: #bdbcbb;
  }
}

ul li:nth-child(4) {
  background-image: linear-gradient(transparent 33.3%, #d3aea4 33.3%, #d3aea4 66.6%, transparent 66.6%);

  button:hover {
    background-color: #d3aea4;
  }
}

ul li:nth-child(5) {
  background-image: linear-gradient(transparent 33.3%, #e4a08d 33.3%, #e4a08d 66.6%, transparent 66.6%);

  button:hover {
    background-color: #e4a08d;
  }
}

ul li:nth-child(6) {
  background-image: linear-gradient(transparent 33.3%, #f39077 33.3%, #f39077 66.6%, transparent 66.6%);

  button:hover {
    background-color: #f39077;
  }
}

ul li:nth-child(7) {
  background-image: linear-gradient(transparent 33.3%, #ff7e61 33.3%, #ff7e61 66.6%, transparent 66.6%);

  button:hover {
    background-color: #ff7e61;
  }
}

button {
  background-color: #fff;
}

.modal {
  position: fixed;
  transform: translate(-50%, -50%);
  padding: 10px;
  top: 50%;
  left: 50%;
  overflow: auto;
  border: 1px solid #000;
  background-image: radial-gradient(#76d7ea, #a0cad2, #bdbcbb, #d3aea4, #e4a08d, #f39077, #ff7e61);
  font-family: 'Jost', sans-serif;
  text-align: center;

  a {
    text-decoration: none;
    color: #000;
    transition: .5s;
  }

  a:hover {
    color: #fff;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.close {
  text-align: center;

  button {
    border: none;
    background: transparent;
  }
}