@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Jost&display=swap');

h1 {
  font-family: 'Cormorant SC', serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px #d3aea4;

  .bigger {
    font-family: 'Cormorant SC', serif;
    font-size: 70px;
  }
}

.navList {
  margin:20px;
  text-align: center;
}

li {
  display: inline;
  padding: 5px;

  img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
    padding-top: 10px;
  }

  button {
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
    border: none;
    background-color: transparent;
  }

  button:hover {
    text-shadow: 2px 2px #fff;
  }
}

ul li:nth-child(1) {
  background-image: linear-gradient(transparent, #76d7ea);
}

ul li:nth-child(2) {
  background-image: linear-gradient(transparent, #a0cad2);
}

ul li:nth-child(3) {
  background-image: linear-gradient(transparent, #bdbcbb);
}

ul li:nth-child(4) {
  background-image: linear-gradient(transparent, #d3aea4);
}

ul li:nth-child(5) {
  background-image: linear-gradient(transparent, #e4a08d);
}

ul li:nth-child(6) {
  background-image: linear-gradient(transparent, #f39077);
}

ul li:nth-child(7) {
  background-image: linear-gradient(transparent, #ff7e61);
}

button {
  background-color: #fff;
}

.modal {
  position: fixed;
  transform: translate(-50%, -50%);
  padding: 10px;
  top: 50%;
  left: 50%;
  overflow: auto;
  border: 1px solid #000;
  background-color: #fff;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
}

.close {
  text-align: center;

  button {
    border: none;
    background: transparent;
  }
}