@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Jost&family=Splash&display=swap');

h1 {
  font-family: 'Splash', cursive;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px #d3aea4;

  .jac {
    font-family: 'Jost', sans-serif;
    font-size: 60px;
  }
}

.navList {
  margin:20px;
  text-align: center;
}

li {
  display: inline;
  padding: 5px;

  img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
    padding-top: 10px;
  }

  button {
    font-family: 'Cormorant SC', serif;
    text-shadow: 1px 1px #d3aea4;
    font-size: 25px;
    padding-bottom: 10px;
    border: none;
  }

  button:hover {
    text-shadow: 1px 1px #a0cad2;
  }
}

button {
  background-color: #fff;
}

.modal {
  position: fixed;
  transform: translate(-50%, -50%);
  padding: 10px;
  top: 50%;
  left: 50%;
  overflow: auto;
  border: 1px solid #000;
  background-color: #fff;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
}

.close {
  text-align: center;

  button {
    border: none;
    background: transparent;
  }
}