@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Roboto:ital,wght@1,100&display=swap');



.home{
  background-image: url("../../Components/photos/watercolor.webp");
  
}

.container{
  display: flex;
justify-content: space-around;
flex-wrap: wrap;
height: 100%;   
}

.item{
  width: 300px;
  height: 300px;
  border: 1px rgb(153, 89, 105) solid;
  overflow: hidden;
  margin-top: 20px 0;
  margin-bottom: 70px;
  border-radius:20px;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.52);
-webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.52);
}

.img {
width:300px; 
height: 275px;
overflow: hidden;
}

.image {
  width:300px; 
}

.title{
  font-size: large;
  margin: 0 0 5px 0;
  background: #fff;
  color: #333;
  padding: 0 5px 10px 10px;
  overflow: hidden;
  
}

.titlecontainers{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;  
  text-align: center;
  
}

.titleitems{
  text-align: center;
  width: 300px;
  height: 110px;
  overflow: hidden;
  margin: 20px 0;
  border-radius:20px;
  text-shadow: 2px 2px #fff;
}

.nasatitle{
  font-size: 30px;
  margin: 0 0 1px 0;
  padding: 0 5px 1px 10px;
  overflow: hidden;
  font-family: stars;
    src: url("../../Components/fonts/StarcruiserExpandedItalic-LgGg.ttf");
}

.mettitle{
  font-size: 30px;
  margin: 0 0 0px 0;
  padding: 0 5px 3px 10px;
  overflow: hidden;
  font-family: art;
  src: url("../../Components/fonts/RotheDemoRegular-vLvZ.ttf");
}

.usertitle{
  font-size: 30px;
  margin: 0 0 1px 0;
  padding: 0 5px 1px 10px;
  overflow: hidden;
}

.titles{
  text-align: center;
  font-size: 20px;

}
.welcome{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px #fff;
}

.welcomep{
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px #fff;
}


.picCtn {
  width: 300px;
  height: 300px;
}
/*carousel*/
@keyframes display {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(0px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}

.picCtn {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 10;
}

.picCtn > div {
  position: absolute;
  top: 0;
  /*left: calc(50% - 100px);*/
  opacity: 0;
  animation: display 20s infinite;
}
div:nth-child(1) {
  animation-delay: 4s;
}
div:nth-child(2) {
  animation-delay: 8s;
}
div:nth-child(3) {
  animation-delay: 12s;
}
div:nth-child(4) {
  animation-delay: 16s;
}
div:nth-child(5) {
  animation-delay: 20s;
}