@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Jost&display=swap');

.footer {
  text-align: center;
  background-image: linear-gradient(to right, #76d7ea, #ff7e61);
  margin: 0;
  font-family: 'jost', sans-serif;
}